.main-img{
  width: 70%;
  height: auto;
}
.menu-img{
  width: 100%;
  height: auto;
  margin: 10px;
}
.jumbotron{
    background-color: white;
    text-align: center;
    color: red;
    border-color: red;
    border-style: solid;
    border-width: medium;
}
.menu{
  background-color: red;

}
p{
  color: white;
}
.btn{
  margin: 5px;
}
.myModalContent{
  border-color: white;
  border-style: solid;
  border-width: medium;
  margin: 10px;
  color: white;
}
.description{
  color: white;
  margin-top: 10px;
  background-color: red;
}
.customerRegister{
  color: white;
  margin-left: : 10px;
  background-color: red;
  float: left;
}
/*#description{
  display: none;
}*/
